@charset "ISO-8859-1";
.background-image{
	background-image:url("https://i.pinimg.com/originals/6d/45/ac/6d45ac7acfaa5dc784d19dbd9c81b807.jpg");
	height:80vh;
	background-size:cover;
	margin:20px;
	border-radius: 20px;
	/*border-color:black;
	border-style:dotted;*/
	
}
.bank-logo{
	width: 80px;
	height: 70px;
}

.heading{
	color:black;
	margin-top: 10px;
	font-family:"Roboto";
	text-align:center;
	padding-top:50px
}

