@charset "ISO-8859-1";
@charset "ISO-8859-1";
.bank-logo{
	width: 80px;
	height: 70px;
}
.body-content{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.signup-form-container{
	width:40%;
	display:flex;
	justify-content:center;
	margin-top:60px;
	background-color:#bee0ec;
	border-radius:20px;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:100px;
	height: 500px
}
.table-style{
	margin-left:20px;
	margin-top:10px;
}
.signup-form-heading{
	margin-top:20px;
	color:#4287f5;
	font-family:"Roboto";
	margin-bottom:20px
}


.form{
	text-align: center;
	padding-top:20px
}
.button{
	text-align:center;
	color:#1e81b0;
	background-color:white;
	border-radius:8px;
	width: 120px;
	height:40px;
	border-color:white;
	margin-top:10px;
	
}